.hero-section {
    position: relative;
}

.carousel-item {
    height: 85vh;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}


.carousel-caption {
    z-index: 2;
    text-align: left;
    left: 10%;
    right: 10%;
    bottom: 20%;
    background-color: rgba(38, 50, 56, 0.7);
    border-radius: var(--border-radius);
}

.carousel-caption h2 {
    font-weight: 700;
}

/* Sección Quiénes Somos */
.about-section {
    background-color: var(--color-card-bg);
}

.about-image img {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

/* Sección Objetivos */
.objectives-section {
    background-color: var(--color-background);
}

.objective-card {
    background-color: var(--color-card-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    transition: transform 0.3s ease;
}

.objective-card:hover {
    transform: translateY(-5px);
    background-color: #deace768;
}

.objective-icon {
    font-size: var(--font-size-xxl);
    color: var(--color-primary);
}

/* Botones */
.btn-primary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    transform: translateY(-2px);
}


@media (max-width: 768px) {
    .carousel-item {
        height: 50vh;
    }

    .carousel-caption {
        text-align: center;
        left: 5%;
        right: 5%;
        bottom: 10%;
    }

    .about-content {
        text-align: center;
    }

    .footer{
        text-align: center;
    }
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    animation: fadeIn 1s ease-out;
}